---
const types = [
{ name: "Bots" },
{ name: "Vehicles" },
{ name: "T3"},
{ name: "Air" },
{ name: "Sea" },
{ name: "Hover" },
{ name: "Factories" },
{ name: "Defense" },
{ name: "Buildings" },
];

const { activeType = "Bots" } = Astro.props;

// Hardcoded list of unit types not ready yet
const inactiveTypes = [""];
---

<nav>
  <ul class="nav-tabs">
    {types.map(({ name }) => {
      const isActive = name.toLowerCase() === activeType.toLowerCase();
      const isDisabled = inactiveTypes.includes(name);
      return (
      <li class="tab">
        <span class="tab-shape">
          {name === "Bots" && <svg><circle cx="6" cy="6" r="6" fill="white" /></svg>}
          {name === "Vehicles" && <svg><polygon points="6,0 12,6 6,12 0,6" fill="white" /></svg>}
          { name === "T3" && (
          <svg
          viewBox="0 0 24 24"
          class="t3-star-icon"
          >
          <path
          d="M12 2l2.9 6.9L22 10l-5.5 4.8L18 22l-6-3.6L6 22l1.5-7.2L2 10l7.1-1.1L12 2z"
          fill="white"
          />
        </svg>
        )}
        
        
        
        
        {name === "Air" && <svg><polygon points="6,0 12,10 0,10" fill="white" /></svg>}
        {name === "Sea" && <svg><circle cx="6" cy="6" r="5" stroke="white" stroke-width="2" fill="none" /></svg>}
        {name === "Hover" && <svg><ellipse cx="6" cy="6" rx="5" ry="3" fill="white" /></svg>}
        {name === "Factories" && <svg><rect width="11" height="11" fill="white" /></svg>}
        {name === "Defense" && (
        <svg 
        viewBox="0 0 24 24"
        style="width: 16; height: 16px; transform: translateY(-5px);">
        <path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4z" fill="white" />
      </svg>
      )}
      {name === "Buildings" && <svg><rect x="1" y="1" width="10" height="10" fill="white" /></svg>}
    </span>
    
    {isDisabled ? (
      <span class="tab-link disabled" title="Coming Soon">{name}</span>
      ) : (
      <a href={`/type/${name.toLowerCase()}/`} class={`tab-link ${isActive ? 'active' : ''}`}>
        {name}
      </a>
      )}
    </li>
    );
  })}
</ul>
</nav>

